@font-face {
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-size: 0.1rem;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9rem;
    font-weight: 300;
}
a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 0.1rem;
}

a:hover {
    color: #fff;
}


.container {
    height: 100%;
}

.bl-main,.b2-main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bl-main>section,.b2-main>section {
    position: absolute;
    width: 50%;
    height: 50%;
}

.bl-main>section:first-child,.b2-main>section:first-child {
    top: 0;
    left: 0;
    background: #F06060;
}

.bl-main>section:nth-child(2),.b2-main>section:nth-child(2) {
    top: 0;
    left: 50%;
    background: #FA987D;
}

.bl-main>section:nth-child(3),.b2-main>section:nth-child(3) {
    top: 50%;
    left: 0;
    background: #72CCA7;
}

.bl-main>section:nth-child(4),.b2-main>section:nth-child(4)  {
    top: 50%;
    left: 50%;
    background: #10A296;
}

.bl-box,.b2-box {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    /* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2,.b2-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 0.1rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.bl-icon,.b2-icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.bl-icon:before ,.b2-icon:before{
    display: block;
    font-size: 0.1rem;
    margin-bottom: 10px;
}

.bl-main>section .bl-icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}
.b2-main>section .b2-icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}


.bl-icon-close:before,.b2-icon-close:before {
    content: "返回";
    color: white;
    font-size: 17px;

}

.bl-content,
div.bl-panel-items>div>div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
}
.b2-content,
div.b2-panel-items>div>div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
}


/* Custom content */

.bl-content p,.b2-content p {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 0.08rem;
}

.bl-content h1,.b2-content h1 {
    font-size: 0.12rem;
    font-weight: 600;
}
.b1-content ul,.b2-content ul{
	width: 100%;
	font-size: 0.08rem;
	font-weight: 300;
	margin: 0 0 5px 0;
}
.b1-content li,.b2-content li{
	font-size: 0.08rem;
	font-weight: 300;
}
.b1-content h4,.b2-content h4{
	font-size: 0.08rem;
	font-weight: 300;
	margin: 0 0 5px 0;
}
.bl-content article h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-top: 20px;
    font-size: 0.1rem;
}
.b2-content article h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-top: 20px;
    font-size: 0.1rem;
}

.bl-content article a {
    color: rgba(0, 0, 0, 0.2);
}

.b2-content article a {
    color: rgba(0, 0, 0, 0.2);
}

.bl-content>ul,.b2-content>ul {

    padding: 0;
    margin: 0;
}

.bl-content>ul li ,.b2-content>ul li {
    display: inline-block;
}

.bl-content>ul li a,.b2-content>ul li a {
    display: block;
    padding: 0;
    border: 8px solid rgba(0, 0, 0, 0.1);
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items>div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

div.b2-panel-items,
div.b2-panel-items>div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

div.bl-panel-items>div>div {
    width: 60%;
    margin: 0 auto;
    opacity: 1;
    bottom: 90px;
    top: 90px;
    pointer-events: auto;
}

div.b2-panel-items>div>div {
    width: 60%;
    margin: 0 auto;
    opacity: 1;
    bottom: 90px;
    top: 90px;
    pointer-events: auto;
}

div.bl-panel-items>div>div h3 {
    font-size: 0.1rem;
    font-weight: 300;
    margin: 0 0 20px 0;
}
div.b2-panel-items>div>div h3 {
    font-size: 0.1rem;
    font-weight: 300;
    margin: 0 0 20px 0;
}

div.bl-panel-items>div>div p {
    font-size: 0.1rem;
}
div.b2-panel-items>div>div p {
    font-size: 0.1rem;
}

div.bl-panel-items>div>div img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
}
div.b2-panel-items>div>div img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
}

div.bl-panel-items,div.b2-panel-items {
    top: 100%;
    z-index: 9999;
}

div.bl-panel-items>div,div.b2-panel-items>div {
    background: #3ba5db;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    -moz-transform: translateY(0);
    -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    -ms-transform: translateY(0);
}

div.bl-panel-items nav,div.b2-panel-items nav {
    position: absolute;
    z-index: 9999;
    width: 216px;
    left: 50%;
    top: 0px;
    margin-left: -108px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    -moz-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
    float: left;
    margin: 5px;
}
div.b2-panel-items.bl-panel-items-show nav span {
    float: left;
    margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    line-height: 2em;
    cursor: pointer;
    margin-right: 2em;
}

div.b2-panel-items nav span.b2-next-work {
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    line-height: 2em;
    cursor: pointer;
    margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
    opacity: 1;
    top: -70px;
}
div.b2-panel-items.b2-panel-items-show nav {
    opacity: 1;
    top: -70px;
}

div.bl-panel-items>div.bl-show-work,div.b2-panel-items>div.b2-show-work {
    z-index: 1000;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transform: translateY(-100%);
    -moz-transition: -moz-transform 0.5s ease-in-out;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    -ms-transform: translateY(-100%);
}

div.bl-panel-items>div.bl-hide-current-work {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transform: translateY(-100%) scale(0.5);
    -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transform: translateY(-100%) scale(0.5);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(-100%) scale(0.5);
    -ms-transform: translateY(-100%) scale(0.5);
    z-index: 0;
}
div.b2-panel-items>div.b2-hide-current-work {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transform: translateY(-100%) scale(0.5);
    -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transform: translateY(-100%) scale(0.5);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(-100%) scale(0.5);
    -ms-transform: translateY(-100%) scale(0.5);
    z-index: 0;
}


/* Transition classes and properties */


/* Separated for a better overview and control */

.bl-main>section,.b2-main>section {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bl-main>section.bl-expand,.b2-main>section.b2-expand {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bl-main>section.bl-expand-top,.b2-main>section.b2-expand-top {
    z-index: 100;
}

.bl-main>section:first-child.bl-expand,
.b2-main>section:first-child.b2-expand {
    background: #EE4444;
}

.bl-main>section:nth-child(2).bl-expand,
.b2-main>section:nth-child(2).b2-expand {
    background: #F98262;
}

.bl-main>section:nth-child(3).bl-expand,
.b2-main>section:nth-child(3).b2-expand {
    background: #4BBE8E;
}

.bl-main>section:nth-child(4).bl-expand,
.b2-main>section:nth-child(4).b2-expand {
    background: #0D8278;
}

.bl-main.bl-expand-item>section:not(.bl-expand),
.bl-main.bl-expand-item>section.bl-scale-down {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.b2-main.b2-expand-item>section:not(.b2-expand),
.b2-main.b2-expand-item>section.b2-scale-down {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.bl-box ,.b2-box{
    -webkit-transition: opacity 0.2s linear 0.5s;
    -moz-transition: opacity 0.2s linear 0.5s;
    transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
    opacity: 0;
    -webkit-transition: opacity 0s linear;
    -moz-transition: opacity 0s linear;
    transition: opacity 0s linear;
}
section.b2-expand .b2-box {
    opacity: 0;
    -webkit-transition: opacity 0s linear;
    -moz-transition: opacity 0s linear;
    transition: opacity 0s linear;
}

.bl-box h2,.b2-box h2 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
.no-touch section:not(.b2-expand) .b2-box:hover h2 {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
    -webkit-transition: opacity 0.1s linear 0s;
    -moz-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s;
}

.b2-content,
.b2-icon-close {
    -webkit-transition: opacity 0.1s linear 0s;
    -moz-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0.5s;
    -moz-transition: opacity 0.3s linear 0.5s;
    transition: opacity 0.3s linear 0.5s;
}

section.b2-expand .b2-content,
section.b2-expand .b2-icon-close {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0.5s;
    -moz-transition: opacity 0.3s linear 0.5s;
    transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
    .bl-content,
    .bl-box {
        font-size: 0.1rem;
    }

    .bl-expand .bl-box {
        height: 130px;
    }

    .bl-content>ul li {
        width: 40%;
    }
}
@media screen and (max-width: 46.5em) {
    .b2-content,
    .b2-box {
        font-size: 0.1rem;
    }

    .b2-expand .b2-box {
        height: 130px;
    }

    .b2-content>ul li {
        width: 40%;
    }
}

.bl-box h2,.b2-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 0.2rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}