ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
#cheek1 {
  width: 100%;
  height: 100%;
}
#cheek1 .main {
  background-image: url("../img/moblie/main/index.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek1 .main .title {
  position: relative;
  top: 36vh;
  width: 71vw;
  margin: 0 auto;
}
#cheek2 {
  width: 100%;
  height: 100%;
}
#cheek2 .main {
  background-image: url("../img/moblie/main/tech1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek2 .main .title {
  width: 59vw;
  position: relative;
  top: 9vh;
  margin: 0 auto;
}
#cheek2 .main a {
  display: block;
  width: 30vw;
  position: relative;
  top: 15vh;
  margin: 0 auto;
}
#cheek3 {
  width: 100%;
  height: 100%;
}
#cheek3 .main {
  background-image: url("../img/moblie/main/tech2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek3 .main .title {
  width: 59vw;
  position: relative;
  margin: 0 auto;
  top: 8vh;
}
#cheek3 .main a {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  top: 16vh;
}
#cheek4 {
  width: 100%;
  height: 100%;
}
#cheek4 .main {
  background-image: url("../img/moblie/main/motion1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek4 .main .title {
  width: 59vw;
  position: relative;
  margin: 0 auto;
  top: 8vh;
}
#cheek4 .main a {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  top: 9.6vh;
}
#cheek5 {
  width: 100%;
  height: 100%;
}
#cheek5 .main {
  background-image: url("../img/moblie/main/motion2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek5 .main .title {
  width: 59vw;
  position: relative;
  top: 9vh;
  margin: 0 auto;
}
#cheek5 .main a {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  top: 9vh;
}
#cheek6 {
  width: 100%;
  height: 100%;
}
#cheek6 .main {
  background-image: url("../img/moblie/main/content.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek6 .main .title {
  width: 59vw;
  position: relative;
  margin: 0 auto;
  top: 8vh;
}
#cheek6 .main a {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  top: 16vh;
}
#cheek7 {
  width: 100%;
  height: 100%;
}
#cheek7 .main {
  background-image: url("../img/moblie/main/admini.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek7 .main .title {
  width: 59vw;
  position: relative;
  margin: 0 auto;
  top: 8vh;
}
#cheek7 .main a {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  top: 9vh;
}
#cheek8 {
  width: 100%;
  height: 100%;
}
#cheek8 .main {
  background-image: url("../img/moblie/main/signup.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
#cheek8 .main form {
  width: 75vw;
  position: relative;
  margin: 0 auto;
  top: 25vh;
}
#cheek8 .main form ul li:nth-child(1) {
  width: 42.85vw;
  margin: 0 auto;
}
#cheek8 .main form ul li:nth-child(2) {
  margin: 3.3vh 0 0 0;
}
#cheek8 .main form ul li:nth-child(2) select {
  width: 100%;
  height: 3.3vh;
  border-radius: 2vw;
  font-size: 13px;
  padding: 0 2vw 0 2vw;
}
#cheek8 .main form ul li:nth-child(3) {
  width: 42.85vw;
  margin: 3.3vh auto 0 auto;
}
#cheek8 .main form ul li:nth-child(4) ul {
  margin: 3vh 0 0 0;
}
#cheek8 .main form ul li:nth-child(4) ul li {
  width: 100%;
  height: 3.7vh;
  margin: 1.1vh 0 0 0;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cheek8 .main form ul li:nth-child(4) ul li input {
  width: 55vw;
  height: 3.6vh;
  border-radius: 2vw;
  font-size: 13px;
  padding: 0 2vw 0 2vw;
  border: 0;
}
#cheek8 .main form ul li:nth-child(4) ul li textarea {
  width: 100%;
  height: 7.8vh;
  border-radius: 2vw;
}
#cheek8 .main form ul li:nth-child(4) ul li:last-child {
  margin: 1.2vh 0 0 0;
  height: 7.8vh;
}
#cheek8 .main form ul li:nth-child(5) {
  color: white;
  text-align: center;
  font-size: 8px;
  margin: 1.2vh auto 2vh auto;
}
#cheek8 .main a {
  display: block;
  width: 17.2vw;
  margin: 0 auto;
  position: relative;
  top: 27vh;
}
#cheek8 .main a img {
  width: 17.2vw;
}
/*# sourceMappingURL=mobile-index.css.map */