ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

#cheek1 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/index.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      position: relative;
      top: 36vh;
      width: 71vw;
      margin: 0 auto;
    }
  }
}

#cheek2 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/tech1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      top: 9vh;
      margin: 0 auto;
    }
    a {
      display: block;
      width: 30vw;
      position: relative;
      top: 15vh;
      margin: 0 auto;
    }
  }
}

#cheek3 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/tech2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      margin: 0 auto;
      top: 8vh;
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 30vw;
      top: 16vh;
    }
  }
}

#cheek4 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/motion1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      margin: 0 auto;
      top: 8vh;
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 30vw;
      top: 9.6vh;
    }
  }
}

#cheek5 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/motion2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      top: 9vh;
      margin: 0 auto;
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 30vw;
      top: 9vh;
    }
  }
}

#cheek6 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/content.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      margin: 0 auto;
      top: 8vh;
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 30vw;
      top: 16vh;
    }
  }
}

#cheek7 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/admini.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .title {
      width: 59vw;
      position: relative;
      margin: 0 auto;
      top: 8vh;
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 30vw;
      top: 9vh;
    }
  }
}

#cheek8 {
  width: 100%;
  height: 100%;
  .main {
    background-image: url("../img/moblie/main/signup.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    form {
      width: 82vw;
      position: relative;
      margin: 0 auto;
      top: 25%;
      ul {
        li:nth-child(1) {
          width: 42.85vw;
          margin: 0 auto;
        }
        li:nth-child(2) {
          margin: 3.3% 0 0 0;
          select {
            width: 100%;
            height: 3.6%;
            border-radius: 2vw;
            font-size: 13px;
            padding: 0 2vw 0 2vw;
          }
        }
        li:nth-child(3) {
          width: 42.85vw;
          margin: 6.3% auto 0 auto;
        }
        li:nth-child(4) {
          ul {
            margin: 3% 0 0 0;
            li {
              width: 100%;
              height: 1.5rem;
              margin: 5% 0 0 0;
              color: #ffffff;
              font-size: 14px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              input {
                width: 62vw;
                line-height: 15px;
                height: 100%;
                border-radius: 2vw;
                font-size: 13px;
                padding: 0 2vw 0 2vw;
                border: 0;
              }
              textarea {
                width: 100%;
                height: 12vh;
                border-radius: 2vw;
              }
            }
            li:last-child {
              margin: 1.2% 0 0 0;
              height: 7.8%;
            }
          }

        }
        li:nth-child(5) {
          color: white;
          text-align: center;
          font-size: 8px;
          margin: 1.2% auto 2% auto;
        }
      }
    }
    a {
      display: block;
      width: 17.2vw;
      margin: 0 auto;
      position: relative;
      top: 27%;
      img {
        width: 17.2vw;

      }
    }
  }
}