*,
 ::before,
 ::after {
    padding: 0;
    margin: 0;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有东西都以边框开始计算宽度 百分比*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*兼容*/
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}
a {
    cursor: pointer;
    text-decoration: none;
}

@charset "UTF-8";
* {
    margin: 0 auto;
    line-height: 1.5;
}


li {
    list-style: none;
    margin:0;
    padding: 0;
}
ul{
    margin:0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
body {
    width: 100%;
    height: 100%;
}

.index{
    position:relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.index p{
    color: white;
    letter-spacing: 3px;
    font-size: 45px;
    padding-top: 0.9rem;
}
.index div{
    margin-top: 20px;
    width: 140px;
    background-color: rgb(255,193,7);
    opacity: 0.8;
    font-size: 25px;
    border: solid 1px rgb(255,193,7);
    border-radius: 0.03rem;
}

.boxs{
    position: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(247,247,247);
}
.boxs li{
    position:relative;
    display: inline-block;
    top: -0.8rem;
    width: 200px;
    height: 100px;
    color: white;
    font-size: 0.1rem;
  /*  flex-grow: 1;
    justify-content: center;
    align-items: center;
   /* display: flex;*/*/
    cursor: pointer;
    box-shadow: #aaa 0 0 10px;
    transition: all 0.5s;
}